<!DOCTYPE html>
<html>
<head>
	<title>Movie Search</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Search for a Movie</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
		</div>
	</nav>
	
	<div class="jumbotron">
		<h1 class="display-4">Search for a Movie</h1>
		<p class="lead">Find the title, date, and movie poster</p>
		<hr class="my-4">
		<p>You'll really enjoy using this search engine. It's the best ever made. We guarantee it!</p>
			<form action="/results" method="get">
		<div class="form-group">
		<input type="text" name="movie" placeholder="Search for a movie">
		</div>
		<input type="submit" class="btn btn-primary  btn-lg">
	</form>
	</div>
		
</body>
</html>



